<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.biz.mapper.ProblemTagMapper">

    <!-- 根据题目ID查询其关联的标签信息 -->
    <select id="findTagByProblemId" resultType="cn.tycoding.biz.entity.Tag">
        SELECT t.*
        FROM tag t
        WHERE t.id in (
            SELECT pt.problem_id
            FROM pblm_tag pt
            WHERE pt.problem_id = #{problemId}
        )
    </select>

</mapper>
